<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        自动化
        <a href="{:url('index/automation_add2')}" class="search" id="dateinput3"><i class="icon-plus"></i> </a>
    </div>
    <div class="car_t">自动化名称</div>
    <div class="auto animated fadeInRight">
        <input type="text" placeholder="请输入自定义场景名称">
    </div>
    <div class="car_t">如果，发生以下任一条件</div>
    <div class="auto animated fadeInLeft">
        <a href="{:url('index/automation_add2')}"><i class="icon-plus color_y"></i> 添加事件</a>
    </div>
    <div class="car_t">并且，满足以下所有条件</div>
    <div class="auto animated fadeInRight">
        <a href="{:url('index/automation_add2')}"><i class="icon-plus color_y"></i> 添加条件</a>
    </div>
    <div class="car_t">那么，执行任务</div>
    <div class="auto animated fadeInLeft">
        <a href="{:url('index/automation_add2')}"><i class="icon-plus color_y"></i> 添加任务</a>
    </div>
</div>
</body>
</html>