<!DOCTYPE html>
<html lang="en">
<head>
 {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        自动化
        <a href="#" class="search" id="dateinput3"><i class="icon-plus"></i> </a>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="{:url('index/cheshi')}">
                        <span class="puff_left">名称</span>
                        <span class="puff_right"><font>请输入自定义场景名称</font></span>
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left">如果，发生以下任一事件</span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                    <a href="{:url('index/carpay')}">
                        <span class="puff_left">就餐场景</span>
                        <span class="puff_right"><font>启用时</font></span>
                    </a>
                </li>
                <li class="animated bounceInLeft">
                       <a href="{:url('index/carpay')}">
                        <span class="puff_left">定时</span>
                        <span class="puff_right"><font>周一、周三、周五 9:30</font></span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                        <a href="{:url('index/carpay')}">
                        <span class="puff_left">烟雾感应器</span>
                        <span class="puff_right"><font>有烟雾</font></span>
                    </a>
                </li>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left color_y">添加事件</span>
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left">并且，满足以下所有条件</span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                    <a href="#">
                        <span class="puff_left">在家场景，看电视场景</span>
                    </a>
                </li>
                <li class="animated bounceInLeft">
                        <a href="{:url('index/carpay')}">
                        <span class="puff_left">周一、周三、周五</span>
                        <span class="puff_right"><font>09:30~12:58</font></span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                          <a href="{:url('index/carpay')}">
                        <span class="puff_left">烟雾感应器</span>
                        <span class="puff_right"><font>有烟雾</font></span>
                    </a>
                </li>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left color_y">添加条件</span>
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left">那么，执行以下任务</span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                       <a href="{:url('index/carpay')}">
                        <span class="puff_left">紧急按钮</span>
                        <span class="puff_right"><font>启用 并 延时10秒</font></span>
                    </a>
                </li>
                <li class="animated bounceInLeft">
                       <a href="{:url('index/carpay')}">
                        <span class="puff_left">无线智能开关</span>
                        <span class="puff_right"><font>关</font></span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                    <a href="#">
                        <span class="puff_left color_y">添加任务</span>
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left">同时，推送消息</span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                     <a href="{:url('index/carpay')}">
                        <span class="puff_left">推送消息</span>
                        <span class="puff_right"><font>红外探测器 检测到test规则被执行</font></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>