<!DOCTYPE html>
<html lang="en">
<head>
  {include file="common/header"}
    <style>
    .search{font-size: 1.4rem;}
    </style>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        月保缴费
        <a href="#" class="search">缴费</a>
    </div>
    <div class="I_div">
        <div class="car_t"></div>
        <div class="I_list">
            <ul>
                <li>
                    <p>粤A7QK55</p>
                    <p><font>2016/08/01 -- 2016/08/31</font></p>
                    <span class="color_y">￥ 400</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>