<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        注册
    </div>
    <div class="main">
        <div class="regall">
            <div class="reginput">
                <input type="text" placeholder="修改文字">
            </div>
            <div class="id_bth inersest_bth animated bounceIn" style="margin-top: 2rem;">
                <a href="{:url('index/index')}">确 定</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>