<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        发帖
        <a href="{:url('index/Interest_search')}" class="search animated fadeInRight" style="font-size: 1.4rem;">发送</a>
    </div>
    <div class="edit_t">
        <input type="text" placeholder="输入标题">
        <textarea rows="8" placeholder="描述一下想发起的团购信息吧"></textarea>
    </div>
    <div class="main">
        <div class="edit">
            <div class="edit_b">
                <ul>
                    <li class="margin_left">
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li class="margin_left">
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="add_img">+
                            <input type="file">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="postinput">
    <a href="#" class="animated fadeInLeft"><img src="__STATIC__/img/icon_bq.png"></a>
    <select class="puff_right animated fadeInRight">
        <option>发布至：邻里分享</option>
        <option>发布至：帮帮忙</option>
        <option>发布至：议事厅</option>
    </select>
</div>
</body>
</html>