<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        召集活动
        <a href="{:url('index/Interest_search')}" class="search animated fadeInRight" style="font-size: 1.4rem;">发送</a>
    </div>
    <div class="edit_t">
        <input type="text" placeholder="输入标题">
        <textarea rows="8" placeholder="描述一下想发起的团购信息吧"></textarea>
    </div>
    <div class="main">
        <div class="edit">
            <div class="edit_b">
                <ul>
                    <li class="margin_left">
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/img/banner.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="add_img">+
                            <input type="file">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="signTxt">
            <ul>
                <li>
                    <p>报名截止：请选择截止报名的日期</p>
                </li>
                <li>
                    <p>活动时间：是不包括你自己在内哦</p>
                </li>
                <li>
                    <p>报名截止：请选择截止报名的日期</p>
                </li>
                <li>
                    <p>报名截止：请选择截止报名的日期</p>
                </li>
                <li>
                    <p>报名截止：请选择截止报名的日期</p>
                </li>
                <li>
                    <p>报名截止：请选择截止报名的日期</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>