<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        绑定网关
    </div>
    <div class="inter_add2">
        <ul>
            <li class="animated bounceInLeft">
                <a href="#">
                    <span class="puff_left"><input type="text" placeholder="网关ID"></span>
                    <img src="__STATIC__/img/icon_sys.png">
                    <img src="__STATIC__/img/icon_wifi2.png">
                </a>
            </li>
            <li class="animated bounceInRight">
                <a href="#">
                    <span class="puff_left"><input type="text" placeholder="网关名称"></span>
                </a>
            </li>
            <li class="animated bounceInLeft">
                <a href="#">
                    <span class="puff_left"><input type="text" placeholder="密码"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="id_bth inersest_bth animated bounceIn">
        <a href="{:url('index/My_smart')}">立即绑定</a>
    </div>
</div>
</body>
</html>