<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head head2">
        <a href="#" class="return" style="color: #5f5e5e;"><i class="icon-chevron-left"></i></a>
        <a href="#" class="search" style="color: #5f5e5e;"><i class="icon-search"></i> </a>
        <input type="text" placeholder="搜索标题" class="animated bounceIn zz_search">
    </div>
    <div class="main">
        <div class="search_txt">
            <div class="search_t clear_border">
                所有标签
            </div>
            <div class="search_list">
                <ul>
                    <li class="animated rotateIn">
                        <a href="#">标签1</a>
                    </li>
                    <li class="animated fadeInRight">
                        <a href="#">标签2</a>
                    </li>
                    <li class="animated bounceIn">
                        <a href="#">标签3</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="finance">
            <ul>
                <li class="animated fadeInRight">
                    <a href="#">
                        <p>【必看】这些钱可以省了！总理力督，国务院开出减税降费清单</p>
                        <p><span class="puff_left">来自凤凰社区街道办</span><span class="puff_right">08-05 23:58</span> </p>
                        <p><label> <i class="icon-bookmark-empty"></i> 标签1</label><label> <i class="icon-bookmark-empty"></i> 标签2</label></p>
                    </a>
                </li>
                <li class="animated fadeInLeft">
                    <a href="#">
                        <p>"空中巴士"巴铁试验车北戴河测试 可载300人</p>
                        <p><span class="puff_left">来自凤凰社区街道办</span><span class="puff_right">08-03 18:55</span> </p>
                        <p><label> <i class="icon-bookmark-empty"></i> 标签1</label><label> <i class="icon-bookmark-empty"></i> 标签2</label></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/idangerous.swiper.min.js"></script>
<script type="text/javascript">
    var tabsSwiper = new Swiper('.swiper-container',{
        speed:500,
        onSlideChangeStart: function(){
            $(".tabs .active").removeClass('active');
            $(".tabs a").eq(tabsSwiper.activeIndex).addClass('active');
        }
    });
    $(".tabs a").on('touchstart mousedown',function(e){
        e.preventDefault()
        $(".tabs .active").removeClass('active')
        $(this).addClass('active')
        tabsSwiper.slideTo( $(this).index() )
    })
    $(".tabs a").click(function(e){
        e.preventDefault()
    })
</script>
</body>
</html>