<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        内容详情
    </div>
    <div class="post_user">
        <ul>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>龙五</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>陈海运</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>wearsion</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>sunny</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>龙五</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>陈海运</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>wearsion</p>
            </li>
            <li class="animated bounceIn">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>sunny</p>
            </li>
            <li class="animated bounceIn">
                <a href="#" class="user_add">+</a>
            </li>
        </ul>
    </div>
    <div class="inter_add">
        <ul>
            <li class="animated bounceInLeft">
                <a href="#">
                    <span class="puff_left">圈子名称</span>
                    <span class="puff_right"><font>篮球圈</font></span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="animated bounceInRight">
                <a href="#">
                    <span class="puff_left">圈子公告</span>
                    <span class="puff_right"><font>大家多组织活动啊</font></span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="id_bth inersest_bth animated bounceIn">
        <a href="#">退出圈子</a>
    </div>
</div>
</body>
</html>