<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        创建圈子
        <a href="Interest_search.html" class="search"><i class=" icon-wrench"></i> </a>
    </div>
    <div class="inter_add">
        <ul>
            <li class="animated bounceInLeft">
                <a href="#">
                    <span class="puff_left">圈子名称</span>
                    <span class="puff_right"><font>篮球圈</font></span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="animated bounceInRight">
                <a href="#">
                    <span class="puff_left">圈子公告</span>
                    <span class="puff_right"><font>大家多组织活动啊</font></span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="animated bounceInLeft">
                <a href="#">
                    <span class="puff_left">圈子名称</span>
                    <span class="puff_right"><img src="img/banner.jpg"> </span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>