<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        新客邀请
        <a href="{:url('index/Invitation_add')}" class="search"><i class="icon-plus"></i> </a>
    </div>
    <div class="I_div">
        <div class="car_t">保利罗兰A8栋2503房</div>
        <div class="I_list">
                <ul>
                    <li>
                        <p>陈新伟</p>
                        <p><font>有效期：2016-04-18 14:58</font></p>
                        <span class="color_y">有效</span>
                    </li>
                    <li>
                        <p>陈新伟</p>
                        <p><font>有效期：2016-04-18 14:58</font></p>
                        <span class="color_g2">已失效</span>
                    </li>
                </ul>
        </div>
    </div>
</div>
</body>
</html>