<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"> 取消</a>
        群发信息
        <a href="{:url('index/Interest_search')}" class="search animated fadeInRight" style="font-size: 1.4rem;">发送</a>
    </div>
    <div class="main">
        <div class="edit">
            <div class="edit_t">
                <textarea rows="8" placeholder="有什么想说的分享给大家？"></textarea>
            </div>
        </div>
    </div>
    <div class="post_user post_user2">
        <p class="post_title">参团人员</p>
        <ul>
            <li class="animated fadeInRight">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>龙五</p>
            </li>
            <li class="animated fadeInLeft">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>陈海运</p>
            </li>
            <li class="animated fadeInRight">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>wearsion</p>
            </li>
            <li class="animated fadeInLeft">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>sunny</p>
            </li>
            <li class="animated fadeInRight">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>龙五</p>
            </li>
            <li class="animated fadeInLeft">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>陈海运</p>
            </li>
            <li class="animated fadeInRight">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>wearsion</p>
            </li>
            <li class="animated fadeInLeft">
                <p><a href="#"><img src="__STATIC__/img/banner.jpg"></a></p>
                <p>sunny</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>