<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body>
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        修改密码
        <a href="#" class="search animated fadeInRight" style="font-size: 1.4rem;">提交</a>
    </div>
    <div class="main">
        <div class="edit_t">
            <input type="text" placeholder="输入旧密码" class="animated fadeInRight">
            <input type="text" placeholder="设置新密码" class="animated fadeInLeft">
            <input type="text" placeholder="确认新密码" class="clear_border animated fadeInRight">
        </div>
    </div>
</div>
</body>
</html>