<!DOCTYPE html>
<html lang="en">
<head>
  {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        添加设备
        <a href="#" class="search" id="dateinput3"><i class="icon-plus"></i> </a>
    </div>
    <div class="eq_div margin_top">
        <div class="s_list">
            <ul>
                <li class="animated fadeInRight">
                    <img src="__STATIC__/img/icon_dzg.png">
                    <div class="s_l_l">
                        <p>红外电子狗</p>
                        <p><font>【离线】</font></p>
                        <span>客厅</span>
                    </div>
                </li>
                <li class="animated fadeInLeft">
                    <img src="__STATIC__/img/icon_ddcl.png">
                    <div class="s_l_l">
                        <p>红外探测器</p>
                        <p><font>【离线】</font></p>
                        <span>客厅</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>