<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body>
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        验证房屋信息
        <a href="{:url('index/Interest_search')}" class="search animated fadeInRight" style="font-size: 1.4rem;">下一步</a>
    </div>
    <div class="I_div">
        <div class="yz_t1">金海岸花园 01-03-09</div>
        <div class="yz_t2">已通过验证，快去和邻居们打个招呼吧！</div>
    </div>
    <div class="id_bth inersest_bth">
        <a href="{:url('index/user')}" class="animated fadeInRight">立即体验</a>
    </div>
</div>
</body>
</html>