<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        控制中心
    </div>
    <div class="M_no">
        <p><img src="__STATIC__/img/icon_bq.png">您尚未绑定智能家居网关</p>
        <div class="id_bth inersest_bth animated bounceIn">
            <a href="{:url('index/My_smart2')}">立即绑定</a>
        </div>
    </div>
</div>
</body>
</html>