<!DOCTYPE html>
<html lang="en">
<head>
  {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
    <script>
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        场景任务
        <a href="{:url('index/My_scene3')}" class="search"><i class="icon-plus"></i> </a>
    </div>
    <div class="I_div">
        <div class="inter_add">
            <ul>
                <li class="animated bounceInLeft">
                    <a href="#">
                        <span class="puff_left">紧急开关</span>
                        <span class="puff_right"><font>启用 并 延时10秒</font></span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                    <a href="#">
                        <span class="puff_left">紧急按钮</span>
                        <span class="puff_right"><font>启用</font></span>
                    </a>
                </li>
                <li class="animated bounceInRight">
                    <a href="#">
                        <span class="puff_left">无线智能开关</span>
                        <span class="puff_right"><font>关</font></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="M_no">
        <p><img src="__STATIC__/img/icon_bq.png">您还没有为场景设置执行任务</p>
    </div>
</div>
</body>
</html>