<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        忘记密码
    </div>
    <div class="main">
        <div class="regall">
            <div class="regTxt">
                <p class="color_r">请设置您的新登录密码</p>
            </div>
            <div class="reginput">
                <input type="text" placeholder="请输入6~20位新密码">
            </div>
            <div class="reginput">
                <input type="text" placeholder="请再次输入">
            </div>
            <div class="id_bth inersest_bth animated bounceIn" style="margin-top: 2rem;">
                <a href="{:url('index/login')}">完 成</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>