<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        忘记密码
    </div>
    <div class="main">
        <div class="regall">
            <div class="reginput">
                <input type="text" placeholder="身份证号/手机号">
                <input type="text" placeholder="验证码" style="border-top: .1rem #ededed solid;">
                <div class="yzmdiv">
                    <img src="__STATIC__/img/icon_yzm.png">
                </div>
            </div>
            <div class="regTxt">

            </div>
            <div class="id_bth inersest_bth animated bounceIn">
                <a href="{:url('index/password2')}">下一步</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>