<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        忘记密码
    </div>
    <div class="main">
        <div class="regall">
            <div class="regTxt">
                <p class="color_r">验证码已发送到186****2825的手机上</p>
            </div>
            <div class="reginput">
                <input type="text" placeholder="短信验证码">
                <div class="yzmdiv">
                    <a href="#">获取验证码</a>
                </div>
            </div>
            <div class="regTxt">
                
            </div>
            <div class="id_bth inersest_bth animated bounceIn">
                <a href="{:url('index/password3')}">下一步</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>