<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        物业缴费
        <a href="{:url('index/Interest_search')}" class="search animated fadeInRight" style="font-size: 1.4rem;">缴费</a>
    </div>
    <div class="edit_t">
        <input type="text" placeholder="预缴金额（元）">
        <textarea rows="8" placeholder="备注说明" style="border-bottom: .1rem #EFEFEF solid;"></textarea>
    </div>
    <div class="I_list">
        <ul>
            <li class="animated fadeInRight clear_border">
                <a href="#">
                    <p>房屋<font class="puff_right">美林海岸花园01-01-1</font> </p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>