<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        注册
    </div>
    <div class="main">
        <div class="part part2 margin_top" style="margin-bottom: 0rem;">
            <ul>
                <li class="animated fadeInRight">
                    <input type="text" placeholder="">
                    <label class="puff_left">姓名：</label>
                </li>
                <li class="animated fadeInLeft">
                    <div class="radio_bth">
                        <label><input type="radio" name="radio">男</label>
                        <label><input type="radio" name="radio">女</label>
                    </div>
                    <label class="puff_left">性别：</label>
                </li>
                <li class="animated fadeInRight">
                    <input type="text" placeholder="方便社区交流" class="text_r">
                    <label class="puff_left">昵称：</label>
                </li>
                <li class="animated fadeInLeft">
                    <input type="text" placeholder="6~20位数字英文组合" class="text_r">
                    <label class="puff_left">设置密码：</label>
                </li>
                <li class=" animated fadeInRight">
                    <input type="text" placeholder="">
                    <label class="puff_left">确认密码：</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="id_bth inersest_bth animated bounceIn">
        <a href="{:url('index/register2')}">提 交</a>
    </div>
</div>
</body>
</html>