<!DOCTYPE html>
<html lang="en">
<head>
  {include file="common/header"}
    <style>
        .search{font-size: 1.4rem;}
    </style>
    <script>
        $(document).ready(function(){
            //添加场景
            $("#scene_bth").click(function(){
                $(".reveal-modal-bg").fadeIn(500);
                $(".scene_modal").fadeIn(500);
            });
            $(".reveal-modal-bg,.closed").click(function(){
                $(".modal_img,.reveal-modal-bg").fadeOut(500);
                $(".scene_modal").fadeOut(500);
            });
            //展开悬浮菜单
            $("#side_bth",this).toggle(function(){
                $(".bottomnav").animate({bottom:'0rem'},800);
            },function(){
                $(".bottomnav").animate({bottom:'-100%'},800);
            });

        });
    </script>
</head>
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        <a href="#" class="return"><i class="icon-chevron-left"></i> 返回</a>
        服务列表
    </div>
    <div class="ser_list">
        <ul>
            <li class="animated fadeInLeft">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车用车感受</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
            <li class="animated fadeInRight">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车自豪提车用车感受丁是丁</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
            <li class="animated fadeInLeft">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车用车感受</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
            <li class="animated fadeInRight">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车自豪提车用车感受</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
            <li class="animated fadeInLeft">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车用车感受</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
            <li class="animated fadeInRight">
                <a href="#">
                    <p><i class="icon-angle-right"></i> 2016款两驱自豪提车自豪提车用车感受</p>
                    <p><span>联系电话：028-0832456487转825</span></p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>