<!DOCTYPE html>
<html lang="en">
{include file="common/header"}
<body>
<div class="warpe">
    <div class="reveal-modal-bg dis_none"></div>
    <div class="head">
        <a href="{:url('index/My_smart')}" class="return"><i class=" icon-user"></i></a>
        智能控制中心
        <a href="#" class="search navbtn"><i class=" icon-home"></i> </a>
    </div>
    <div class="nav margin_top clear_bg">
        <ul>
            <li>
                <a href="#">
                    <p><img src="__STATIC__/img/icon_mj.png" class="animated bounceIn"></p>
                    <span>远程门禁</span>
                </a>
            </li>
            <li>
                <a href="{:url('index/Invitation_index')}">
                    <p><img src="__STATIC__/img/icon_yq.png" class="animated rotateIn"></p>
                    <span>访客邀请</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><img src="__STATIC__/img/icon_km.png" class="animated bounceIn"></p>
                    <span>一键开门</span>
                </a>
            </li>
            <li>
                <a href="{:url('index/Parking')}">
                    <p><img src="__STATIC__/img/icon_tc.png" class="animated rotateIn"></p>
                    <span>停车助手</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="M_no">
        <p><img src="__STATIC__/img/icon_bq.png">你尚未绑定智能家居网关</p>
        <div class="id_bth inersest_bth animated bounceIn">
            <a href="{:url('index/smart_index')}">立即绑定</a>
        </div>
    </div>
</div>
</body>
</html>