<!DOCTYPE html>
<html lang="en">
 {include file="common/header"}
<body style="background-color: #fff !important;">
<div class="warpe">
    <div class="head">
        个人中心
    </div>
    <div class="interest_list" style="border-bottom: 1rem #ededed solid;">
        <ul>
            <li class="animated bounceInLeft clear_border">
                <a href="{:url('index/user_admin')}">
                    <img src="__STATIC__/img/banner.jpg">
                    <div class="list_r">
                        <p><span>昵称</span></p>
                        <p>广州金海岸花园3栋1102</p>
                        <div class="useradmin">
                            <p>账户管理<i class="icon-angle-right"></i> </p>
                            <span class="color_r">未认证</span>
                        </div>
                    </div>
                </a>
        </ul>
    </div>
    <div class="inter_add" style="border-bottom: 1rem #ededed solid;">
        <ul>
            <li class="animated bounceInLeft clear_border">
                <a href="{:url('index/my_home')}">
                    <span class="puff_left">我的房屋</span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="inter_add">
        <ul>
            <li class="animated fadeInLeft">
                <a href="{:url('index/my_publish')}">
                    <span class="puff_left">我发表的</span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="animated fadeInRight">
                <a href="#">
                    <span class="puff_left">我参与的</span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="animated fadeInLeft">
                <a href="#">
                    <span class="puff_left">我收藏的</span>
                    <i class="icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="id_bth inersest_bth animated bounceIn">
        <a href="{:url('index/index')}">退 出</a>
    </div>
</div>
</body>
</html>